@charset "UTF-8";

.error-msg {
	display: none;
	font-size: 70%;
	color: red;
}

.erro {
	color: red;
}

form {
	width: 300px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #444;
}

h1 {
	color: #0048AA;
	text-align: left;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset {
	background: #EEE;
	padding: 8px 10px;
	border: none;
}

label {
	cursor: pointer;
	font-size: 20px;
}

input, textarea {
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 2px;
	border: 1px solid rgba(25, 25, 25, 0.4);
}

button {
	padding: 6px;
	font-size: 15px;
	background: #246fa8;
	color: #FFF;
	border: 1px solid #57c1eb;
	border-radius: 5px;
	margin-top: 5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
